* {
	box-sizing: border-box;
}

.mainText {
	font-family: Poppins;
	font-size: 44px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	text-align: center;
}

header {
	width: 100%;
	text-align: center;
	align-items: center;
}

header p {
	font-family: Poppins;
	font-size: 44px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
}

.mainContainer {
	height: 552px;
	width: 1098px;
	margin-left: 174px;
	display: flex;
	justify-content: center;

}

.imageContainer img {
	width: 250px;
	height: 506.97px;
}

.textContainer {
	width: 568px;
	height: 280px;
	margin-left: 287px;
}

.textContainer p:first-child {
	color: #FA4A0C;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	margin-bottom: 17px;
}

.textContainer h3 {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin-bottom: 23px;

}

.textContainer p:last-child {
	color: gray;

	font-family: Montserrat;
	font-size: 24px;
	font-weight: 500;
	line-height: 38px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;

}


.mainReverce {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	height: 552px;
	width: 1098px;
	margin-left: 174px;
}
.mainReverce .textContainer{
	margin-left: 0px;
	margin-right: 338px;
}

